[submodule "PUC/IA-t4-desafio-final-alexandre-benito-ricardo"]
	path = PUC/IA-t4-desafio-final-alexandre-benito-ricardo
	url = https://github.com/Professor-Augusto-Baffa/t4-desafio-final-alexandre-benito-ricardo.git
